<%-include ('partials/header.ejs')%>
<%-include ('partials/navbar.ejs')%>
<body>
    <h1> Bem vindo ao seu perfil!</h1>
    <hr>
    <a href="/">Voltar para pagina inicial</a>
    
 <%-include ('partials/footer.ejs')%>